
#calendar {
    border-radius: 4px;
    max-width: 250px;
    padding: 5px;
    background: #080808;
    display: flex;
}

#todayTime {
    text-align: center;
    padding: 5px 0;
    font-size: 40px;
    color: azure;
}

#todayDate {
    padding: 5px 0;
    font-size: 20px;
    color: #ffcf88;
}

#tools {
    padding: 5px 0;
    height: 30px;
    color: azure;
}

#tools .l {
    float: left;
}

#tools .r {
    float: right;
}

table {
    width: 100%;
    color: azure;
}

table th {
    color: #ffcf88;
}

table td {
    text-align: center;
    cursor: default;
}

table td.today {
    background: #f8a305;
    color: azure;
}